input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: none;
  box-shadow: none;
}
body > div.container > div > div > md-content > md-chips > md-chips-wrap,body > div.container > div > div > md-content > div > md-chips > md-chips-wrap{
  /*max-width: 440px;*/

}
