<!-- <div layout-align="center center"> -->
  <div layout="column" style="margin-top:20px;padding-bottom: 15px;" class="md-whiteframe-z3">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Enter Your Courses</h2>
      </div>
    </md-toolbar>
    <md-content layout-padding style="height: 560px;padding: 24px;">
      <div style="margin-bottom:30px;">
          <md-chips ng-model="selected_courses"
              md-on-remove="update()"
              md-autocomplete-snap=""
              md-require-match="">
            <md-autocomplete
              md-search-text="searchText"
              md-selected-item="selectedItem"
              md-items="item in querySearch(searchText)"
              md-search-text-change="querySearch(searchText)"
              md-selected-item-change="itemChanged(item)"
              md-item-text="item.name"
              placeholder="Course">
              <span md-highlight-text="searchText">
                {{item.number}}: {{item.name}}
                ({{item.units}})

              </span>
           </md-autocomplete>
           <md-chip-template>

              <div class="md-name fixed">({{$chip.number}}) {{$chip.name | trim}}</div>

          </md-chip-template>
         </md-chips>
        </div>
      <div ng-hide="results && results.length==0" ng-repeat="c in results">
        <h5>{{c.name}} ({{c.number}})</h5>
        <p>{{c.desc | trim}}</p>
      </div>
      <div ng-show="results && results.length==0" ng-repeat="c in courses">
        <h5>{{c.name}} ({{c.number}})</h5>
        <p>{{c.desc | trim}}</p>
      </div>


    </md-content>
    <section layout="row" layout-sm="column" layout-align="end end" style="margin-top:20px;margin-right:20px;" layout-wrap>
      <md-button class="md-raised md-primary" href="#/results">Next</md-button>
    </section>

  </div>
<!-- </div> -->