

  <div class="container">
    <div class="row">
      <div class="col s10 m4">
        <!--searchbox-->
        <h4 class="header black-text"><i class="material-icons">play_arrow</i>Majors</h4>
        <div class="collection">
          <a class="collection-item">Information Systems<span style="margin-left:30px;" class="badge">87%</span></a>
          <a class="collection-item">Business Administration<span style="margin-left:30px;" class="badge">65%</span></a>
          <a class="collection-item">Human Computer Interaction<span style="margin-left:30px;" class="badge">44%</span></a>
        </div>
        </br>
        <h4 class="header black-text"><i class="material-icons">play_arrow</i>Minors</h4>
        <div class="collection">
          <a class="collection-item">Business Administration<span style="margin-left:30px;" class="% complete badge">92%</span></a>
          <a class="collection-item">Human Computer Interaction<span style="margin-left:30px;" class="% complete badge">82%</span></a>
          <a class="collection-item">Computer Science<span style="margin-left:30px;" class="% complete badge">60%</span></a>
        </div>
      </div>
      <div class="col m7 offset-m1">
        <div class="row"></br></br>
          <div class="col m12">
            <div class="card-panel white">
              <h5 class="header black-text center">Information Systems - 87% Complete</h5>
              <div class="progress">
                  <div class="determinate" style="width: 87%"></div>
              </div>
              <h6 class="black-text center"> 4 Classes Remaining </h6>
              <h6 class="black-text center"> 36 Units Remaining  </h6>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col m12">
            <div class="card-panel teal">
              <span class="header white-text center">67-370 Intelligent Decision Support Systems</span>
            </div>
          </div>

          <div class="col m12">
            <div class="card-panel teal">
              <span class="header white-text center">79-318 Sustainable Social Change: History and Practice</span>
            </div>
          </div>

          <div class="col m12">
            <div class="card-panel teal">
              <span class="header white-text center">67-311 Database Design and Implementation</span>
            </div>
          </div>

          <div class="col m12">
            <div class="card-panel teal">
              <span class="header white-text center">73-359 Benefit-Cost Analysis</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
